<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1> 퀴즈 </h1>

<form action="result">

    <p><h3>의학적으로 얼굴과 머리를 구분하는 기준은 어디일까요?</h3></p>

        <input type="radio" name="a1" value="1">코    
        <input type="radio" name="a1" value="2">눈썹
        <input type="radio" name="a1" value="3">귀
        <input type="radio" name="a1" value="4">머리카락

    
    <p><h3>우리나라의 국화는 무궁화입니다. 북한의 국화는 무엇일까요?</h3></p>

        <input type="radio" name="a2" value="1">목란
        <input type="radio" name="a2" value="2">진달래
        <input type="radio" name="a2" value="3">국화
        <input type="radio" name="a2" value="4">개나리
        <br><br>
    <input type="submit" value="제출">
</form>
</body>
</html>